.card img {
  height: 300px;
  object-fit: cover;
}

.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body .btn {
  margin-top: auto;
}
.row .card{
  transition: transform 0.3s ease;
}

.row .card:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.mi-navbar{
  padding-top: 40px;
  padding-bottom: 40px;
}
.mi-container{
  padding-top: 40px;
  padding-bottom: 40px;
}
.mi-img img{
  border-radius: 15px;
}